body {
    background-color: #f1f5f8;
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

nav {
    background: #fff;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin-bottom: 0;
    color: hsl(205, 78%, 60%);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #222;
}

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

h2 {
    background: #222;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.color {
    color: #49a6e9;
}

.btn {
    font-family: inherit;
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.75rem 1.5rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.btn:hover {
    color: #fff;
    background: #222;
}