*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #f1f5f8;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.875rem;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.btn:hover {
    color: #222;
    background: #fff;
}

/*
=============== 
Hero
===============
*/
.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") center/cover no-repeat;
    display: grid;
    place-items: center;
}

.banner {
    text-align: center;
    color: #fff;
}

.banner h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.modal-btn {
    margin-top: 1rem;
    background: #fff;
    color: #49a6e9;
    border-color: #49a6e9;
    font-size: 1.5rem;
}

.modal-btn:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
}

/* OPEN MODAL */
.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    background: #fff;
    border-radius: 0.5rem;
    width: 90vw;
    height: 30vh;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border: transparent;
    color: #bb2525;
    cursor: pointer;
    transition: all 0.3s linear;
}

.close-btn:hover {
    color: #e66b6b;
    transform: scale(1.3);
}