body {
    background-color: #f1f5f8;
    color: #102a42;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

#value {
    font-size: 6rem;
    font-weight: bold;
    color: #102a42;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.btn:hover {
    color: #fff;
    background: #222;
}